aclocal.m4
admesh
admesh-*/
ar-lib
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps/
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
m4/
*.o
*.pc
stamp-h1
*.tar.*
