Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
stamp-h1
*.pc
.deps/
*.o
*.tar.*
admesh
admesh-*/
